:root {
  /* Colors */
  --grayish-cyan-color: #dae7e6;
  --light-blue-color: #7f93a9;
  --blue-color: #002855;
  --dark-blue-color: #011d3c;
  --light-sea-color: #adbbc9;
  --sea-color: #5d7895;
  --dark-sea-color: #395a7d;
  --black-color: #001329;
  --gray-color: #e0e0e0;
  --light-gray-color: #e9eff6;
  --yellow-color: #ffd405;
  --light-white-color: #f5f5f5;
  --white-color: #ffffff;
  --dark-white-color: #ececec;
  --light-green-color: #7fc3c1;
  --green-color: #008984;
  --dark-green-color: #045a5f;
  --light-red-color: #de9ea8;
  --red-color: #bf3f53;
  --dark-red-color: #99222a;
  --disabled-color: #bfbfbf;
  --grayish-blue-color: #ececf5;

  /* Gradients */
  --footer-gradient: linear-gradient(90deg, #293784 -0.52%, #008884 100%);

  /* Shadows */
  --card-shadow: 0px 4px 10px rgba(166, 181, 199, 0.4);
  --header-shadow: 0px 0px 27px #a6b5c7;
  --footer-shadow: 0px 0px 30px rgba(178, 184, 191, 0.3);
  --tooltip-shadow: 0px 10px 19px rgba(166, 181, 199, 0.5);

  /* Widths */
  --sidebar-width: 260px;
  --table-width: calc(100vw - var(--sidebar-width) - 80px);

  /* Heights */
  --header-inner-height: 80px;
  --header-full-height: var(--header-inner-height);
  --footer-height: 56px;
}
