:root {
  /* Colors */
  --grayish-cyan-color: #DAE7E6;
  --light-blue-color: #7F93A9;
  --blue-color: #002855;
  --dark-blue-color:#011D3C;
  --light-sea-color: #ADBBC9;
  --sea-color: #5D7895;
  --dark-sea-color:#395A7D;
  --black-color: #001329;
  --gray-color: #E5E5E5;
  --light-gray-color: #E9EFF6;
  --yellow-color: #FFD405;
  --light-white-color: #F5F5F5;
  --white-color: #FFFFFF;
  --dark-white-color:#ECECEC;
  --light-green-color: #7FC3C1;
  --green-color: #008984;
  --dark-green-color:#045A5F;
  --light-red-color: #DE9EA8;
  --red-color: #BF3F53;
  --dark-red-color:#99222A;


  /* Gradients */
  --footer-gradient: linear-gradient(90deg, #293784 -0.52%, #008884 100%);

  /* Shadows */
  --card-shadow: 0px 4px 10px rgba(166, 181, 199, 0.4);
  --header-shadow: 0px 0px 27px #A6B5C7;
  --footer-shadow: 0px 0px 30px rgba(178, 184, 191, 0.3);

  /* Widths */
  --sidebar-width: 260px;
  --table-width: calc(100vw - var(--sidebar-width) - 80px);

  /* Heights */
  --header-inner-height: 80px;
  --header-full-height: var(--header-inner-height);
  --footer-height: 56px;
}
